#container {
    max-width: 1200px;
    margin: auto;
}
.box{
    width: 60%;
    margin: auto;
    font-family: 'Inter', sans-serif;
}

.title-back-ground {
    background-color: #216dc1;
    padding: 60px 0 190px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title-container {
    color: white;
    font-weight: 900;
    font-size: 35px;
    text-align: center;
    text-align: center; 
}

.panel-head {
    text-align: center;
}
.card-container {
    height: 300px;
    width: 80%;
    margin: auto;
    position: relative;
}
.card-name {
    color: #b0b0b0;
    margin-bottom: -15px;
}

ul{
    margin-left: -20px;
    margin-top: 400px;
    padding-top: 20px;
}
li {
    font-size: 11px;
    line-height: 15px;
}

.btn-container {
    width: 100%;
    position: absolute;
    bottom: 10px;
}
.detail-button {
    display: block;
    margin: auto;
    background-color: #f67420;
    color: white;
    border: none;
    padding: 5px 15px;
    font-size: 11px;
}



@media screen and (max-width: 560px) {
    .title-container {
        font-size: 20px; 
    }
}

@media screen and (max-width: 767px) {
    .detail-button {
        width: 80%;
    }
}
